<div class="col-md-6 user-container">

    <h2 class="text-center">Add User</h2>

    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username">User Name:</label>
            <input type="text" formControlName="username" placeholder="username" name="username" class="form-control"
                id="username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" formControlName="password" placeholder="password" name="password"
                class="form-control" id="password">
        </div>
        <div class="form-group">
            <label for="firstname">First Name:</label>
            <input type="text" formControlName="firstname" placeholder="firstname" name="firstname" class="form-control"
                id="firstname">
        </div>
        <div class="form-group">
            <label for="lastname">Last Name:</label>
            <input type="text" formControlName="lastname" placeholder="lastname" name="lastname" class="form-control"
                id="lastname">
        </div>
        <div class="form-group">
            <label for="age">Age:</label>
            <input type="number" formControlName="age" placeholder="age" name="age" class="form-control" id="age">
        </div>
        <div class="form-group">
            <label for="salary">Salary:</label>
            <input type="number" formControlName="salary" placeholder="salary" name="salary" class="form-control"
                id="salary">
        </div>

        <button class="btn btn-success">Add User</button>&nbsp;
        <button *ngIf="token" class="btn btn-danger" (click)="logOut()">Log Out</button>
    </form>
</div>